body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #38B2AC;
}

p {
    font-size: 18px;
    color: #5A67D8;
}